bakame-backend/n8n-workflows/telephony-automation.json
{
  "name": "BAKAME Telephony Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-voice",
      "name": "Twilio Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "twilio-voice-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-sms",
      "name": "Twilio SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "twilio-sms-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/webhook/call",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "forward-voice-to-backend",
      "name": "Forward Voice to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/webhook/sms",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.From }}"
            },
            {
              "name": "To",
              "value": "={{ $json.To }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.Body }}"
            },
            {
              "name": "MessageSid",
              "value": "={{ $json.MessageSid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-sms-to-backend",
      "name": "Forward SMS to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "voice-webhook-response",
      "name": "Voice Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "sms-webhook-response",
      "name": "SMS Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.ANALYTICS_URL || $env.BACKEND_URL }}/analytics/event",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'call_initiated', phone_number: $node['Twilio Voice Webhook'].json.From, timestamp: Date.now(), metadata: { via: 'n8n' } } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "log-voice-event",
      "name": "Log Voice Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.ANALYTICS_URL || $env.BACKEND_URL }}/analytics/event",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'sms_received', phone_number: $node['Twilio SMS Webhook'].json.From, message_preview: $node['Twilio SMS Webhook'].json.Body.substring(0, 50), timestamp: Date.now(), metadata: { via: 'n8n' } } }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "log-sms-event",
      "name": "Log SMS Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400]
    }
  ],
  "connections": {
    "Twilio Voice Webhook": {
      "main": [
        [
          {
            "node": "Forward Voice to Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Voice Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio SMS Webhook": {
      "main": [
        [
          {
            "node": "Forward SMS to Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log SMS Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Voice to Backend": {
      "main": [
        [
          {
            "node": "Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward SMS to Backend": {
      "main": [
        [
          {
            "node": "SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["telephony", "bakame", "production"],
  "triggerCount": 2,
  "updatedAt": "2025-10-05T00:00:00.000Z",
  "versionId": "2"
}
